<p>Admin::Items#index</p>
<h2>商品一覧</h2>
<table>
  <thead>
    <tr>
      <td>商品ID</td>
      <td>商品名</td>
      <td>税抜価格</td>
      <td>ジャンル</td>
      <td>ステータス</td>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |items| %>
      <tr>
        <td><%= @items.id %></td>
        <td><%= @items.name %></td>
        <td><%= @items.price %></td>
        <td><%= @genres.find(@items.genre_id) %></td> <!-- N+1問題を起こしていないか確認する -->
        <td>
          <%= @items.is_active %>
        </td> <!-- True, Falseではなく販売中, 販売停止中に変更する if文で作成する -->
      </tr>
    <% end %>
  </tbody>
</table>