<p>Admin::Genres#index</p>
<h2>ジャンル一覧・追加</h2>
<%= form_with model: [:admin, @new_genre] do |f| %>
  <%= f.label :ジャンル名 %>
  <%= f.text_field :name, autofocus: true, placeholder: 'ジャンル名' %>
  <%= f.submit '新規登録', class: "btn btn-success" %>
<% end %>

<table>
  <thead>
    <th>ジャンル</th>
    <th></th>
  </thead>
  <% @genres.each do |genres| %>
    <tr>
      <td><%= genres.name %></td>
      <td><%= link_to '編集する', edit_admin_genre_path(genres.id), class: "btn btn-success" %></td>
    </tr>
  <% end %>
</table>